<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="dbserver" value="BLUEICE"/>
    <add key="database" value="AgileBanking"/>
    <add key="table" value="dbo.OnlineBankingDocTypeMapping"/>
    <add key="xmltable" value="dbo.InstantOpen_AppIDs"/>
    <add key="inpath" value="E:\CB\OnlineBanking_Samples"/>
    <add key="outpath" value="E:\CB\DIPfiles\InstantOpen"/>
    <add key="drivepath" value="C:\InstantOpenDIP"/>
    <add key="backuppath" value="E:\CB\DIPfiles\InstantOpen\Backup"/>
  </appSettings>
</configuration>