<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="dbserver" value="SURFACE4AGILEBA"/>
    <add key="database" value="AgileBanking"/>
    <add key="table" value="dbo.ASB_COLD_Reports"/>
    <add key="notetable" value="dbo.ASB_COLD_Notes"/>
    <add key="statstable" value="dbo.ASB_COLD_DIP_Stats"/>
    <add key="inpath" value="H:\CB\ASB_COLD_Samples"/>
    <add key="outpath" value="H:\CB\DIPfiles\ASBCOLD"/>
    <add key="drivepath" value="C:\DIPfiles\ASBCOLD"/>
  </appSettings>
</configuration>