<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>   
    <add key="inpath" value="C:\Users\brent\AgileBanking\CB\test\MortgageBot"/>
    <add key="outpath" value="C:\Users\brent\AgileBanking\CB\DIPfiles\MortgageBot"/>
    <add key="drivepath" value="C:\MortgageBot"/>
    <add key="backuppath" value="C:\Users\brent\AgileBanking\CB\DIPfiles\MortgageBot\Backup"/>
  </appSettings>
</configuration>