<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="dbserver" value="DESKTOP-UDHGPBO"/>
		<add key="database" value="AgileBanking"/>
		<add key="table" value="dbo.OnlineBankingDocTypeMapping"/>
		<add key="xmltable" value="dbo.InstantOpen_AppIDs"/>
		<add key="inpath" value="C:\Users\brent\AgileBanking\CB\OnlineBanking_Samples"/>
		<add key="outpath" value="C:\Users\brent\AgileBanking\CB\DIPfiles\InstantOpen"/>
		<add key="drivepath" value="C:\InstantOpenDIP"/>
		<add key="backuppath" value="C:\Users\brent\AgileBanking\CB\DIPfiles\InstantOpen\Backup"/>
	</appSettings>
</configuration>